<section class="card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input class="card-input" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <textarea class="card-input-textarea" id="post-content" name="post-content"></textarea>
        </div>
        <button class="card-button" type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>