<section class="card">
    <h3 class="card-header">Sign Up</h3>
    <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input class="card-input" type="text" id="username-signup" />
        </div>

        <div>
            <label for="email-signup">email:</label>
            <input class="card-input" type="text" id="email-signup" />
        </div>

        <div>
            <label for="password-signup">password:</label>
            <input class="card-input" type="password" id="password-signup" />
        </div>

        <div>
            <button class="card-button" type="submit">Sign Up</button>
        </div>

        <div>
            <a class="card-login-link" href="login">Login instead</a>
        </div>

    </form>
</section>

<script src="/javascript/sign-up.js"></script>