{{> post-info post}}

{{#if loggedIn}}
{{#if comments.length}}
{{> comments post.comments}}
{{/if}}
<section class="card">
<form class="comment-form">
  <div>
    <label for="comment-content">Comment</label>
    <textarea class="card-input-textarea" id="comment-body" name="comment-body"></textarea>
  </div>
  <button class="card-button" type="submit" class="btn" id="comment-btn">Create</button>
</form>
</section>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}